// Menu Item Component Styles

.menu__link {
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: #000;
}

.menu__link-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: rgba($color: #4b6878, $alpha: 0.1);
	border-radius: 5px;
}
