.createpost-heading {
	display: flex;
}

.createpost-heading__title {
	margin: 0;
	margin-top: 24px;
	margin-bottom: 28px;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #000000;
}

.createpost-heading__vector {
	margin-right: 94px;
	margin-top: 10px;
	border: none;
	background-color: transparent;
}

.createpost-textarea {
	width: 335px;
	height: 248px;
	padding: 19px 20px;
	background: #ffffff;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
	border-radius: 8px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.3);
}

.createpost-small__title {
	margin: 0;
	margin-top: 21px;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.createpost-phrase {
	width: 106px;
	height: 35px;
	background: #ffffff;
	box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #5f6471;
}

.createpost-phrase__name {
	width: 114px;
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: rgba(95, 100, 113, 0.5);
}

.createpost-search {
	width: 57px;
	height: 35px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.createpost-select {
  display: block;
	width: 320px;
	margin: 0;
	margin-top: 25px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 16px;
  padding-left: 25px;
	background: #ffffff;
	border-radius: 6px;
	border: none;
	border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
}

.createpost-selected {
	font-family: 'SFProDisplay';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
  align-items: center;
	line-height: 19px;
	color: #000000;
}

.createpost-select__option {
	margin-bottom: 12px;
	font-family: 'SFProDisplay';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.createpost-btn {
  display: block;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding: 18px 62px;
	color: #ffffff;
	background: #3d58e8;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
