// Profile Main Component Styles
.profile-main {
	margin-bottom: -60px;
	padding: 30px 20px;
	background-color: #fff;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	transform: translateY(-60px);
}

.profile-main__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-bottom: 120px;
	padding: 0;
	list-style: none;
}

.profile-main__item {
	&:nth-child(3),
	&:nth-child(4) {
		border-bottom: 0.8px solid rgba(148, 175, 182, 0.5);
	}
}
