.AddUser-form {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.AddUser-heading {
  margin: 0;
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 127px;
  margin-top: 50px;
}

