.Statistics-inner {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.Statistics-heading {
  text-align: center;
  margin: 0;
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.users-page__hero {
  margin-top: 28px;
}

.users-page__hero-input {
  display: block;
  width: 100%;
  min-width: 300px;
  padding: 10px 10px 10px 50px;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.493);
  border: 1px solid transparent;
  background: rgba(217, 225, 232, 0.55);
  border-radius: 10px;
  cursor: pointer;
}

.users-page__hero-input {
  background-image: url('../../Assets/Image/Search.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 23px 10px;
}

.pharse-name {
  margin-top: 24px;
  margin-bottom: 22px;
}

.pharse-name__btn {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(95, 100, 113, 0.5);
  padding: 8px 9px;
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  border: none;
  cursor: pointer;

  
  &:hover,
  &.active {
    background-color: #fff;
    color: #222;
  }
}

.Phrase-active__btn {
  background-color: #fff;
  color: #222;
}

.phrase {
  margin-left: 14px;
}

.Weekly-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Weekly-inner__link {
  text-decoration: none;
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  background-color: #fff;
  padding: 7px 16px;
  border-radius: 10px;

  &:hover,
  &.active {
    background-color: #3D58E8;
    color: #fff;
  }
}

.total-phrases {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 20px;
}

.total-phrases__text {
  font-size: 16px;
  line-height: 19px;
}

.total-phrases__item {
  margin: 0;
  padding: 0;
  text-align: initial;
}

.total-phrases__span {
  color: #3D58E8;
}