
.AddUser-form__username {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 19px 0 19px 18px;
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 14px;
}

.AddUser-form__password {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  padding: 19px 0 19px 18px;
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 14px;
}
