.bookmarks .container{
	margin-bottom: 1500px;
}

.bookmarks__box-top {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-bottom: 17px;
	align-self: center;

	&--content{
		display: block;
	}

	&--margin{
		margin-bottom: 100px;
	}
}

.bookmarks__back-btn {
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;

	&--margin{
		margin-right: auto;
	}
}

.bookmarks__heading {
	display: block;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	text-align: center;
	color: #000000;
}

.bookmarks__nums {
	display: block;
	width: 50px;
	margin: 0;
	padding: 5px;
	background: rgba(148, 175, 182, 0.1);
	border-radius: 5px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: rgba(0, 0, 0, 0.5);
}

.user {
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 35px;
	align-items: center;
}

.user__profile {
	display: block;
	margin: 0 auto;
	margin-bottom: 3px;
	border-radius: 50%;
}

.user__name {
	display: block;
	margin: 0 auto;
	margin-bottom: 3px;
	padding: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}

.user__info {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: rgba(0, 0, 0, 0.5);
}

.post__list {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: 120px;
	padding: 0;
	list-style-type: none;
}

.post__item {
   margin: 0;
   margin-bottom: 18px;
   padding: 20px;
	border-radius: 5px;  
}

.post__item-box {
	display: flex;
	margin: 0;
	margin-bottom: 15px;
}

.user__profile--margin {
	display: inline-block;
	margin: 0;
}

.post__item-box2 {
	margin: 0;
	margin-left: 10px;
}

.user__name--font {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}

.user__info--font {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: rgba(0, 0, 0, 0.5);
}

.date {
	display: block;
	text-align: left;
	margin-left: auto;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: rgba(0, 0, 0, 0.5);
}

.post__info {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #110000;
}
