.user-page__inner {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.users-page__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-page__inner-button {
  background-color: transparent;
  border: transparent;
}

.user-page__inner-heading {
  margin: 0;
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.user-page__inner-span {
  border: 1px solid transparent;
  padding: 3px 11px;
  background: rgba(148, 175, 182, 0.1);
  border-radius: 5px;
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.users-page__hero {
  margin-top: 28px;
}

.users-page__hero-input {
  display:block;
  width: 100%;
  min-width: 300px;
  padding: 10px 0 10px 50px;
  font-family: 'Rubik', Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.493);
  border: 1px solid transparent;
  background: rgba(217, 225, 232, 0.55);
  border-radius: 10px;
}

.users-page__hero-input{
  background-image: url('../../Assets/Image/Search.svg') ;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 23px 10px ;
}

// ------------------ M A I N ----------------

.user-page__main {
  margin-top: 20px;
}

.user-page__main-list {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 400px;
}

.user-page__main-item {
  display: flex;
  list-style: none;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.user-page__main-button {
  border: transparent;
  border-radius: 50%;
  padding: 14px 18px;
  margin-right: 18px;
}

.user-page__main-heading {
  margin: 0;
  font-family: 'SF Pro Display', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 3px;
}

.user-page__main-span {
  font-family:'SF Pro Display', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.add-user {
  width: 100%;
  background-color: #3D58E8;
  color: #fff;
  border: 1px solid transparent;
  padding: 18px 0;
  border-radius: 10px;
  margin-top: 20px;
}