.login__heading {
	display: block;
	margin: 0;
	margin-top: 100px;
	margin-bottom: 90px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}

.username__box {
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 26px;
}

.input__username {
	display: inline-block;
	min-width: 280px;
	padding: 18px;
	padding-left: 50px;
	border: solid 2px #838795;
	border-radius: 10px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #838795;
	background-image: url('../../Assets/Image/account_circle_24px.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 20px 18px;
}

.password__box {
	position: relative;
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 16px;
}

.input__password {
	display: inline-block;
	min-width: 280px;
	padding: 18px;
	padding-right: 35px;
	padding-left: 50px;
	border: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #838795;
	background-image: url('../../Assets/Image/https_24px_outlined.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 20px 18px;
	border: solid 2px #838795;
	border-radius: 10px;
}

.password__see-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	border: none;
	background-image: url('../../Assets/Image/Additions.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 0px 0px;
	background-color: #fff;
}

.password__see-btn--active {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	border: none;
	background-image: url('../../Assets/Image/u_eye-slash.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 0px 4px;
	background-color: #fff;
}

.checkout__input-box {
	position: relative;
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 110px;
	padding: 8px;
	padding-left: 30px;
}

.checkout__input {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border: 2px solid #838795;
	box-sizing: border-box;
	border-radius: 5px;
}

.checkout__info {
	margin: 0;
	margin-left: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #838795;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-self: center;
	justify-content: center;
	width: 100%;
	height: 200px;
	background-color: #3d58e8;
	border-radius: 30px 30px 0px 0px;
}

.login__btn {
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-top: 60px;
	padding: 19px;
	border: none;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
}
