.main {
	background: rgba(61, 88, 232, 0.04);
}

.login__heading {
	display: block;
	margin: 0;
	margin-top: 100px;
	margin-bottom: 90px;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}

.username__box {
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 26px;
}

.input__username {
	display: inline-block;
	min-width: 280px;
	padding: 18px;
	padding-left: 50px;
	border: solid 2px #838795;
	border-radius: 10px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #838795;
	background-image: url('../../Assets/Image/account_circle_24px.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 20px 18px;
}

.password__box {
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 110px;
	padding: 8px;
	border: solid 2px #838795;
	border-radius: 10px;
	background: #fff;
}

.input__password {
	display: inline-block;
	max-width: 240px;
	padding: 10px;
	padding-left: 50px;
	border: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #838795;
	background-image: url('../../Assets/Image/https_24px_outlined.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 12px 10px;
}

.password__see-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	border: none;
	background-image: url('../../Assets/Image/Additions.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 0px 4px;
	background-color: #fff;
}

.password__see-btn--active {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	border: none;
	background-image: url('../../Assets/Image/u_eye-slash.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 0px 4px;
	background-color: #fff;
}

.footer {
	display: flex;
	align-self: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #3d58e8;
}

.login__btn {
	display: block;
	width: 280px;
	margin: 0 auto;
	margin-top: 60px;
	padding: 19px;
	border: none;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
}
