@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('./Assets/Fonts/rubik-v14-latin-regular.woff2') format('woff2'),
		url('./Assets/Fonts/rubik-v14-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;       
	src: local(''),
		url('./Assets/Fonts/rubik-v14-latin-500.woff2') format('woff2'),
		url('./Assets/Fonts/rubik-v14-latin-500.woff') format('woff');
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('./Assets/Fonts/SFProDisplay-Regular.woff2') format('woff2'),
		 url('./Assets/Fonts/SFProDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('./Assets/Fonts/SFProDisplay-Medium.woff2') format('woff2'),
		 url('./Assets/Fonts/SFProDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('./Assets/Fonts/SFProDisplay-Semibold.woff2') format('woff2'),
		 url('./Assets/Fonts/SFProDisplay-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	height: 100%;
	font-family: 'Rubik', 'sans-serif';
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#root {
	display: flex;
	height: 100%;
	flex-direction: column;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.main{
   flex-grow: 1;
}

.container {
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 20px;
}